# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# Project layout
/dataset/*
!/dataset/.gitempty

/checkpoints

/models/*
!/models/.gitempty
!/models/refined-glove-wiki-gigaword-300

/predictions

/.vscode/
*.swp

